/**
 * Web Font Styles, H Styles, Body Text Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/

/* Fonts */
body, h1, h2, h3, h4, h5, h6, p, a, ul {
    color: $dkblue;
} 
p, a, ul, ol {

}
ul li, ol li {
    margin: 0 0 0 20px;
    font-size: 18px;
}
dl, blockquote, img {

}

a:not(.btn) {
    text-decoration:underline;
    transition:$trans;
    font-family: $fira;
    &:hover {
        color: $blue !important; 
        text-decoration: underline !important;
    }
}

.btn {
    display:inline-block;
    padding:15px 35px;
    text-decoration:none;
    text-transform: uppercase;
    transition:$trans;
    font-size: 14px;
    font-weight: $bold;
    text-decoration: none !important;
    letter-spacing: 1.2px;
    &.green {
        background: $green !important;
        color: $dkblue !important;
        &:hover {
            background: $blue !important;
            color: $white !important;
        }
    }
    &:hover {
        // background-color:$dk-red;
    }
}

p {
    font-size:16px;
    line-height: 26px;
    margin-bottom:30px;
    margin-top: 0;

    &.small {
        font-size: 14px !important;
    }

    &.large {
        font-size: 22px;
    }

    &.green {
        color:$green !important;
    }
    
    a {
        font-family: inherit;
        color:inherit;
        text-decoration: underline;

        &:hover {
            text-decoration: inherit;
        }
    }
}
h2, h3, h4 {
    line-height: 120%;
}

h2 {
    margin: 30px 0 20px !important;
    display:block;
    font-size: 48px;

    @include respond(phone) {
        font-size: 38px;
    }
}

h3 {
    margin: 30px 0 20px !important;
    display:block;
    font-size: 32px;

    @include respond(phone) {
        font-size: 28px;
    }
}

h4 {
    margin: 30px 0 20px !important;
    display:block;
    font-size: 22px;
}

.body-container {
    ul li, 
    ul li a,
    ol li, 
    ol li a {
        font-size:16px;
        line-height: 30px;
        margin-top: 0;
        font-family: inherit;
        color: inherit;
        margin:0 !important;
    }

    ul, ol {
        margin-bottom:30px;

        li {
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}