header {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 50;
    display:flex;
    height:115px;
    transition: $trans;
    
    #header-top {
        display: flex;
        justify-content: space-between;
        max-width: 94%;
        width: 100%;
        align-items: center;
        padding: 0 !important;
        
        &_left {
            display: flex;
            width: 22%;
            justify-content: flex-start;
            @include respond(desktop) {
                width: 18%;
            }
            .custom-logo-link {
                width: 100%;
                height: auto;
                display:flex;

                .custom-logo {
                    max-height: 75px;
                    max-width: 340px;
                    width: 100%;

                    @include respond(phone) {
                        max-width: 250px;
                    }
                }
            }
            
            @include respond(tab-land) {
                width: 100%;
            }
        }

        .client-portal {
            position: absolute;
            right: 35px;
            top: 0;
            padding: 6px 10px 6px;
            background: $white;
            border-radius: 0 0 6px 6px;

            @include respond(tab-land) {
                display:none;
            }

            a {
                text-decoration: none;
                font-size: 13px;
                text-transform: uppercase;
                display: flex;
                flex-wrap: nowrap;
                white-space: nowrap;

                img {
                    max-height: 11px;
                    width: 9px;
                    margin-left: 5px;
                }
            }
        }
    }

    .mobile-only {
        display:none !important;

        @include respond(tab-land) {
            display:block !important;
        }
    }
}