/**
 * Page Template Styles
 *
 * @package Postali Child
 * @author Postali LLC
*/

.page-template-page-contact {
    .sidebar-block {
        iframe {
            height:250px;
            max-width: 100%;
        }
    }
    .gform_wrapper {
        .gform_required_legend {
            display: none !important;
        }
        .gform_footer {
            input {
                text-transform: uppercase !important;
                cursor: pointer;
                color: $dkblue;
            }
        }
    }
}

.page-template-page-sitemap {
    .main-content {
        .column-66 {
            justify-content: space-between;
        }
    }
    
    ul.sitemap {
        li {
            a {
                font-weight: bold;
            }

            &.page_item_has_children {
                ul.children {
                    margin-bottom: 5px;
                    
                    li {
                        a {
                            font-weight: normal !important;
                        }
                    }
                }
            }
        }
    }
}

.blog {
    .main-content {
        & > .container > .columns > .column-full {
            justify-content: flex-start;
        }
    }
    article {
        border: none;
        padding-bottom: 0;
        width: 31%;
        margin: 1%;
        box-sizing: border-box;
        transition:$trans;
        background:$dkblue;

        &:hover {
            h2 {
                text-decoration: underline;
            }

            .post-image {
                background-size: 145%;
                @include respond(tab-port) {
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }

        @include respond(tab-port) {
            width:100%;
            margin:10px 0;
        }

        .post-image {
            height: 200px;
            background-size: 140%;
            background-position: center;
            transition: $trans;

            @include respond(tab-land) {
                background-size: cover;
            }
        }

        .meta-content {
            padding: 30px 40px 70px;
            
            .blog-date {
                font-size: 12px;
                margin-bottom: 5px !important;
                color:$green;
            }
            
            h2 {  
                font-size: 18px;
                margin-bottom: 0 !important;
                color:$white;
            }
        }
    }
}

.single {
    &.single-post {
        .banner {
            padding-bottom: 0;
            .category {
                margin-bottom: 0;
            }
            .blog-date {
                text-transform: uppercase;
            }
        }
    }
    .article-featured-image {
        img {
            width: 100%;
        }
    }
}

.page-template-page-attorney {
    .attorney-img img {
        border-radius: 50%;
        max-width: 225px;
        border: solid 3px $green;
        @include respond(phone) {
            margin:0 auto;
        }
    }
}

.page-template-page-landing {
    .main-content {
        position: relative;
        z-index: 2;
    }
    ul.landing-box {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        list-style-type: none;
        margin:0;
        width: 100%;
        li {
            width:32.3%;
            margin:.5% !important;
            background:$dkblue;
            padding:40px;
            box-sizing: border-box;
            min-height: 400px;
            position: relative;

            @include respond(tab-land) {
                width:49%;
            }
    
            @include respond(phone) {
                width:100%;
                margin:10px 0 !important;
            }

            &:hover {
                a {
                    text-decoration: underline;
                    color:$white;
                }
            }

            a {
                font-size: 32px;
                font-weight: bold;
                display: block;
                line-height: 100%;
                padding: 0;
                text-decoration: none;
                color:$white;
                font-family: $noto;
                @include respond(phone) {
                    font-size: 32px;
                }
            }

            .all-pages {
                position: absolute;
                bottom: 0;
                height: 60px;
                background: $ltgrey;
                left: 0;
                width: 100%;
                padding: 0 20px;
                box-sizing: border-box;
                align-items: center;
                justify-content: flex-end;
                display: flex;
                font-size: 15px;
                transition: $trans;
                cursor: pointer;
                span::before {
                    position: relative;
                    content: "+";
                    margin-left: 10px;
                    font-size: 24px;
                    font-weight: bolder;
                    transition: $trans;
                    display:block;
                }

                &.active {
                    background:$green !important;

                    span::before {
                        transform:rotate(45deg);
                    }
                }
            }

            ul.children {
                margin: 0;
                list-style-type: none;
                position: absolute;
                background: $green;
                top: 100%;
                left: 0;
                width: 100%;
                box-sizing: border-box;
                padding: 0 40px;
                display:none;
                z-index: 10;
                padding:20px 40px 40px;

                li {
                    margin:0 !important;
                    padding:0 !important;
                    width:100%;
                    min-height: auto;
                    background:none;
                    
                    a {
                        font-size: 16px !important;
                        line-height: 120%;
                        display: inline-block;
                        margin-bottom: 10px !important;
                        padding: 0;
                        font-weight: normal;
                        text-decoration: underline;
                        color:$dkblue;
                    }

                    &::after {
                        display:none;
                    }
                }
            }
        }
    }
}

.page-template-page-attorney-navigational {
    article {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;

        @include respond(phone) {
            flex-direction: column;
        }

        .image-holder {
            margin-right: 30px;

            @include respond(phone) {
                margin-right: 0;
                margin-bottom: 30px;
            }
            img {
                border-radius: 50%;
                width: 350px;
                height: auto;
                max-width: 180px;

                @include respond(phone) {
                    width: 200px;
                }
            }
        }
        
        .copy-holder {
            a.btn {
                margin-top: 0 !important;
            }
        }
    }
}

.post-type-archive-results {
    .main-content {
        .column-full {
            justify-content: flex-start;

            h2 {
                display: flex;
                justify-content: center;
                width: 100%;

                &:not(:first-of-type) {
                    margin-top: 80px !important;
                }
            }
            
            @include landing-box;
        }
    }
}

.search {
    .search-item {
        display: block;
        text-decoration: none;
        &:hover {
            text-decoration: none !important;
            h2 {
                text-decoration: underline;
            }
        }
    }
}

.page-template-page-interior, .page-template-page-practice-parent {
    .main-content {
        .btn {
            margin-top: 0 !important;
        }
        .columns {
            grid-gap: 1em;
        }
    }
}

.page-template-page-sitemap {
    .all-pages {
        display: none;
    }
}

.post-type-archive-testimonials {
    .column-66 {
        article {
            img {
                width: 100px;
                height: auto;
            }
        }
    }
}