/**
 * Sass variables and functions.
 *
 * @package Postali Child
 * @author Postali LLC
 */

// Breakpoints
$desktop-full: 1920px;
$desktop-lg: 1400px;
$desktop: 1200px;
$tab-land: 1024px;
$tab-port: 820px;
$phone: 600px;

// Containers
$container-max-width: $desktop-lg;
$container-padding:30px;

// Transitions
$transition-speed:.3s;
$transition-fast:.3s ease-in-ease-out;
$transition-slow:.5s ease-in-ease-out;

// Core Colors
$blk: #000000;
$white: #FFFFFF;
$ltgrey: #F7F7F7;
$blue: #1A6B8D;
$green: #AED69E;
$dkblue: #213D49;

$link-transition-speed: .15s;
$trans: 0.2s linear;

// Typography
$sans: 'Open Sans', sans-serif;
$serif: 'Playfair Display', serif;
$icomoon: 'Icomoon';

$fira: 'Fira Sans Condensed', sans-serif;
$noto: 'Noto Serif', serif;

$body-line-height: 130%;

// Font Weight
$normal: 400;
$bold: 700; 
$black: 900;
