#accordions-block {
    .container {
        padding:0 !important;
    }
    
    .accordions {
        width: 100%;
        background: #213D49;
        margin-bottom: 20px;

        .accordions_title {
            padding: 30px 8% 30px 30px;

            h3 {
                margin-top: 0 !important;
                color:white;
                font-size: 22px !important;
                font-weight: 500;
            }

            span {
                &::after {
                    content: "+";
                    transition: 0.2s linear;
                    position: absolute;
                    top: 25px;
                    right: 30px;
                    height: 40px;
                    width: 40px;
                    font-size: 44px;
                    background: #AED69E;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    border-radius: 50%;
                    font-weight: 100;
                    color: #213D49;
                    font-family: "Montserrat", sans-serif;
                }
            }
        }

        .accordions_content {
            padding: 40px 40px 10px 40px;
            background: white;
            box-sizing: border-box;
            width: 100%;

            p {
                font-size: 18px !important;
                line-height: 145% !important;

            }
        }
    }
}