#banner {
    @media screen and (max-width:820px) {
        padding-top: 40px;    
    }

    h1 {
        font-family: "Noto Serif", sans-serif;
        font-size: 62px;
        line-height: 115%;
        text-transform: none;
        margin-bottom: 40px;
    }

    .ppc-cta-block {
        gap: 0 !important;
    }
    
    .banner-cta {
        display:block;

        p {
            margin-left: 0;
        }
    }

    p {
        font-size: 18px !important;
        line-height: 145% !important;
        font-weight: normal !important;
    }

    .gform_wrapper {
        padding:10px 30px 20px;
        
        @media screen and (max-width:820px) {
            margin-top: 60px;
            margin-bottom: 0;
        }
        
        p.gform_required_legend {
            color: #fff;
            font-size: 12px !important;
            display: block !important;
        }
    }

    @include ppc-block;

    .copy-mobile {
        display: none;
        @include respond(tab-port) {
            display: block;
            margin-top: 20px;
        }
    }
    .copy-desktop {
        display: block;
        @include respond(tab-port) {
            display: none;
        }
    }
}

#banner-img {
    padding: 0;

    img {
        width: 100%;
        height: 400px;
        -o-object-fit: cover;
        object-fit: cover;
        margin: 30px 0;
        @include respond(tab-port) {
            margin: 30px 0 0 0;
        }
        @media screen and (max-width:600px) {
            height:250px;
        }
    }
}