#scroller-awards {
    .container {  
        padding:0 !important;
        
        .slider-container {
            padding: 30px 0;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            position: relative;

            .post-tag {
                position: absolute;
                margin-top: -42px;
                padding: 5px 10px 5px 0;
                background: #f7f7f7;
                display: block;
                border-radius: 50px;
                font-size: 15px;
                font-weight: 700;
                box-sizing: border-box;
                line-height: 100%;
                text-transform: uppercase;
                font-family: "Fira Sans Condensed", sans-serif;
                color: #213d49;
                text-transform: uppercase;
                font-weight: normal;
                letter-spacing: 2px;

                &::after {
                    position: absolute;
                    right: -10px;
                    top: 0;
                    width: 10px;
                    background: #f7f7f7;
                    content: "";
                    height: 100%;
                }
            }
               
            #awards-slider {
                margin-bottom: 0;
                
                .slick-slide {
                    display: flex;
                    justify-content: center;
            
                    img {
                        max-height: 110px !important;
                    }
                }
            }
        }

        .slider-dots {
            .slick-dots {
                position: relative;
                bottom: 0;
                list-style: none;
                display: block;
                text-align: left;
                padding: 0;
                width: 100%;
                margin: 0 !important;

                li {
                    position: relative;
                    display: inline-block;
                    height: 20px;
                    width: 14px;
                    margin: 0 5px;
                    padding: 0;
                    cursor: pointer;

                    &:only-child {
                        display: none !important;
                    }

                    button {
                        &::before {
                            color: white;
                            opacity: 1;
                            font-size: 12px;
                        }
                    }

                    &.slick-active {
                        button {
                            &::before {
                                color:black;
                            }
                        }
                    }
                }
            }
        }
    }

    @include ppc-block;
}

#scroller-results,
#scroller-testimonial,
#scroller-generic {

    .container {
        width: 100%;
        max-width: 100%;
        margin: 0 0 0 0 !important;
        padding: 0 0 0 0 !important;
        box-sizing: border-box;

        @media screen and (max-width:600px) {
            padding:0 30px !important;
        }

        h2 {
            max-width: 80%;
        }
    
        .slider-container {
            display: flex;
            align-items: normal;
            justify-content: space-between;
            background:white;

            .slider-nav {
                position: absolute;
                width: auto;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 !important;
                padding: 0 !important;
                left: 0 !important;

                .slide-pagination {
                    height: 100%;
                    display: block;
                    width: 50px;

                    .slider-prev-button-slick,
                    .slider-prev-button-slick-testimonial,
                    .slider-prev-button-slick-generic {
                        height: calc(50% - 2px);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 36px;
                        background: #213D49;
                        transition: 0.2s ease all;
                        cursor: pointer;
                    }
                    
                    .slider-next-button-slick,
                    .slider-next-button-slick-testimonial,
                    .slider-next-button-slick-generic {
                        height: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 36px;
                        background: #213D49;
                        transition: 0.2s ease all;
                        border-bottom: 2px solid #D8DAE1;
                        cursor: pointer;
                    }

                    .icon-chevron-right,
                    .icon-chevron-left {
                        &::before {
                            color: #AED69E;
                        }
                    }
                }
            }
        
            #results-slider,
            #testimonial-slider,
            #generic-slider  {
                width:85%;
                margin-left: 90px;
                padding: 50px 0 20px;

                @media screen and (max-width:820px) {
                    width:80%;
                }

                @media screen and (max-width:600px) {
                    width:75%;
                }

                @media screen and (max-width:480px) {
                    width:65%;
                }
        
                .slick-slide {
                    display: flex;
                    justify-content: flex-start;

                    h3 {
                        text-decoration: underline;
                        span {
                            position: relative;
                            
                            &::after {
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 70%;
                                background: #DBFF76;
                                left: 0px;
                                z-index: -1;
                            }
                        }
                    }
            
                    p {
                        margin-bottom: 0 !important;
                        font-size: 18px !important;
                        line-height: 145% !important;
                    }
                }
            }

            .slider-dots-result,
            .slider-dots-testimonial,
            .slider-dots-generic {
                position: absolute;
                bottom: 30px !important;
                left: 80px !important;

                .slick-dots {
                    position: relative;
                    bottom: auto;
                    list-style: none;
                    display: block;
                    text-align: center;
                    padding: 0;
                    margin: 0 !important;
                    width: 100%;
                    display: flex;

                    button {
                        height: 20px;
                        width: 20px;

                        &::before {
                            font-size: 12px;
                        }
                    }
                }
            }

            .slider-dots-testimonial {
                width:85%;

                @media screen and (max-width:820px) {
                    width:80%;
                }

                @media screen and (max-width:600px) {
                    width:75%;
                }

                @media screen and (max-width:480px) {
                    width:65%;
                }

                &::before {
                    position: absolute;
                    left:5px;
                    top:-30px;
                    height: 1px;
                    border-bottom: 2px solid #000000;
                    width:100%;
                    content: "";
                }
            }
        }
    }

    @include ppc-block;

    .review-logo {
        position: absolute;
        bottom: 23px;
        right: 7%;
        max-height: 40px;

        @media screen and (max-width:480px) {
            right:12%;
        }
    }
}

#attorney-slider {
    .attorney-container {
        display:flex !important;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        p {
            margin-bottom: 0 !important;
            font-size: 18px !important;
            line-height: 145% !important;
        }
    }

    .slide-pagination {
        display: flex;

        span.icon-chevron-left,
        span.icon-chevron-right {
            height: 50px;
            width: 50px;
            display: flex;
            font-size: 20px;
            font-weight: bold;
            justify-content: center;
            align-items: center;
            background: black;
            color: #DBFF76;
            border-radius: 50%;
        }
    }
}